@font-face {
  font-family: McLawsuit;
  src: url('https://ciliace.github.io/cdnntx/src/Mclawsuit.ttf');
}

[dir] .nx-theme-styles .nx-theme-richtext p {
    color: #FFC72C;
    font-family: McLawsuit;
    font-size: 50px;
}

[dir] .nx-theme-styles .nx-theme-help-text-1>label {
    color:red;
}

div#_a666b5ea47429334ae308f0cb79cca7a-group-control ntx-label.nx-zinc-control-label {
    display: none;
}

[dir] .nx-theme-styles .nx-theme-radio-1 .nx-radio input[type=radio]:checked + .nx-radio-container .nx-radio-faux {
    border: 6px solid #FFC72C !important;
}


.nx-radio-group.nx-radio-group-inline {
    display: flex;
    /* height: 400px; */
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
}

[dir] .nx-theme-styles .nx-theme-page {
    background-image: url("https://i.ibb.co/TPLQ5Qj/Picture1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
