{
  "swagger": "2.0",
  "info": {
    "title": "Frankfurter Exchange Rates API",
    "description": "A free, open-source currency data API that tracks reference exchange rates published by the European Central Bank. No API key required, no usage caps.",
    "version": "1.0.0"
  },
  "host": "api.frankfurter.dev",
  "basePath": "/v1",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/latest": {
      "get": {
        "summary": "Get latest exchange rates",
        "description": "Fetch the latest working day's exchange rates, updated daily around 16:00 CET. Defaults to EUR as the base currency.",
        "operationId": "getLatestRates",
        "parameters": [
          {
            "name": "base",
            "in": "query",
            "required": false,
            "description": "Base currency code (ISO 4217). Defaults to EUR.",
            "type": "string",
            "default": "EUR",
            "x-example": "CHF"
          },
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of target currency codes to filter the response.",
            "type": "string",
            "x-example": "USD,EUR,GBP"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with latest exchange rates",
            "schema": {
              "$ref": "#/definitions/RatesResponse"
            }
          },
          "404": {
            "description": "Currency not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "422": {
            "description": "Invalid currency code or parameter",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
  },
  "definitions": {
    "RatesResponse": {
      "type": "object",
      "properties": {
        "base": {
          "type": "string",
          "description": "Base currency code (ISO 4217)",
          "example": "CHF"
        },
        "date": {
          "type": "string",
          "format": "date",
          "description": "Date of the exchange rates",
          "example": "2026-03-12"
        },
        "rates": {
          "type": "object",
          "description": "Map of currency codes to exchange rate values relative to the base currency",
          "additionalProperties": {
            "type": "number",
            "format": "float"
          },
          "example": {
            "USD": 1.1245,
            "EUR": 1.0412,
            "GBP": 0.8734
          }
        }
      }
    },
    "TimeSeriesResponse": {
      "type": "object",
      "required": ["base", "start_date", "end_date", "rates"],
      "properties": {
        "base": {
          "type": "string",
          "description": "Base currency code (ISO 4217)",
          "example": "CHF"
        },
        "start_date": {
          "type": "string",
          "format": "date",
          "description": "Start date of the time series",
          "example": "2025-01-01"
        },
        "end_date": {
          "type": "string",
          "format": "date",
          "description": "End date of the time series",
          "example": "2025-03-01"
        },
        "rates": {
          "type": "object",
          "description": "Map of dates to rate objects",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "number",
              "format": "float"
            }
          },
          "example": {
            "2025-01-02": { "USD": 1.1102, "EUR": 1.0385 },
            "2025-01-03": { "USD": 1.1089, "EUR": 1.0371 }
          }
        }
      }
    },
    "CurrenciesResponse": {
      "type": "object",
      "description": "Map of ISO 4217 currency codes to full currency names",
      "additionalProperties": {
        "type": "string"
      },
      "example": {
        "CHF": "Swiss Franc",
        "EUR": "Euro",
        "USD": "US Dollar",
        "GBP": "British Pound"
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "Human-readable error description",
          "example": "not found"
        }
      }
    }
  }
}
