{
  "swagger": "2.0",
  "info": {
    "title": "K2 Workflow Finish Server Event",
    "version": "1.0"
  },
  "host": "demo.penha.fr",
  "basePath": "/api/workflow/v1",
  "schemes": ["https"],
  "paths": {
    "/me/sendMail": {
      "post": {
        "operationId": "SendMail_Me",
        "summary": "Send mail as the signed-in user",
        "description": "Sends a message using Microsoft Graph.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SendMailRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/serverEvents/{id}/finish": {
      "post": {
        "summary": "Complete Server Event",
        "operationId": "CompleteServerEvent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "dataFields": {
                  "type": "object",
                  "description": "Workflow data fields to set",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    }
  }
}
