{
  "swagger": "2.0",
  "info": {
    "title": "MS Graph Connector",
    "description": "MS Graph connector",
    "version": "1.2"
  },
  "host": "graph.microsoft.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/v1.0/me": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Get My Profile",
        "description": "Get My Profile",
        "operationId": "GetMyProfile",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/v1.0/me/sendMail": {
      "post": {
        "operationId": "SendMail",
        "summary": "Send mail",
        "description": "Send mail",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "message": { 
                  "type": "object",
                  "properties": {
                    "subject": { "type": "string" },
                    "body": {
                      "type": "object",
                      "required": ["contentType", "content"],
                      "properties": {
                        "contentType": { "type": "string", "enum": ["Text", "HTML"] },
                        "content": { "type": "string" }
                      }
                    },
                    "toRecipients": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "emailAddress": {
                            "type": "object",
                            "properties": { "address": { "type": "string" } }
                          }
                        }
                      }
                    }
                  }
                },
                "saveToSentItems": { "type": "boolean", "default": true }
              }
            }
          }
        ],
        "responses": {
          "202": { "description": "Accepted" }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/5a2beb23-b1a5-4fc5-90b2-2520f82f9a3b/oauth2/authorize",
      "tokenUrl": "https://login.microsoftonline.com/5a2beb23-b1a5-4fc5-90b2-2520f82f9a3b/oauth2/token",
      "scopes": {
        "Mail.Send": "Send mail as a user",
        "Mail.Read": "Read user mail",
        "User.Read": "Sign in and read user profile"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "Mail.Send", "Mail.Read", "User.Read"
      ]
    }
  ],
  "tags": []
}
