/*#region : Background Page */
.theme-entry {
    background-image: url('https://i.ibb.co/TPLQ5Qj/Picture1.png');
    background-size: cover;
    background-attachment: fixed;
    --view-rounding: 25px;
    --panel-rounding: 25px;
}

form {
  opacity:0.95!important;
}


/*#endregion*/

