/*#region : Background Page */
body.theme-entry {
    background-image: url('https://i.ibb.co/pbsCDj3/Picture2.png')!important;
    background-size: cover!important;
    background-attachment: fixed!important;
}

form {
  opacity:0.80!important;
}

/*#endregion*/

