@font-face {
  font-family: McLawsuit;
  src: url('https://github.com/ciliace/CSS/blob/191d0ed50e8916af645516c2c234d8adae47afe0/Mclawsuit.ttf');
}

table.McDo  {
    width:100%;
}
table.McDo > tbody > tr > td {
    width:50%;
}
table.McDo > tbody > tr > td:nth-child(1) {
    text-align: center;
}
table.McDo > tbody > tr > td:nth-child(2) {
    text-align: right;
    vertical-align: right;
}

[dir] .nx-theme-styles .nx-theme-help-text-1>label {
    color:red;
}

[dir] .nx-theme-styles .nx-theme-page {
    background-image: url("https://i.ibb.co/TPLQ5Qj/Picture1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
