/*#region : Page */
[dir] .nx-theme-styles .nx-theme-page {
    background-image: url("https://i.ibb.co/BVNy2XZ/DALL-E-2024-01-08-18-56-08-A-high-quality-artistic-background-inspired-by-the-JC-Decaux-company-The.png");
    background-repeat: no-repeat;
    background-size: cover;
}
/*#endregion*/

/*#region : Form */
[dir] .nx-theme-styles .nx-theme-form { 
	/*background-color: #ebfdbf;*/ 
    color: #2a2a2a;
    font-family: Inter,Helvetica,Arial,sans-serif;
    font-size: calc(1.6rem + .1vw);
    font-weight: 400;
    line-height: 1.5;
    
}


.nx-form.form.container-fluid.nx-theme-form {
    opacity: 0.90;
}
.nx-repeating-section-container .nx-repeating-section-body .ntx-repeating-section-repeated-section .nx-form-runtime-content .nx-form {
    background-color: #FFFFFF !important;
    opacity: 1;
}
/*#endregion*/

/*#region : All controls */

[dir] .nx-theme-styles .nx-theme-form .form-group { 
    padding: 0; border: 0; 
}
/*#endregion*/

/*#region : Submit */
[dir] .nx-theme-styles .nx-theme-form .nx-theme-button-1 { 
    background-color: #00335B; 
    color: #ebfdbf; 
    font-size: 1.2em; 
    text-transform: uppercase; 
    font-weight: 700; 
    width: 100%; 
    border-color: #ebfdbf;
}
/*#endregion*/

/*#region : All control labels */
[dir] .nx-theme-styles .nx-theme-form .nx-theme-label-1 { 
    text-align: right; 
    color: #00335B; 
    text-transform: uppercase; 
    text-decoration: underline; 
}
/*#endregion*/

/*#region : All controls with text input */
[dir] .nx-theme-styles .nx-theme-form .nx-theme-input-1 { 
    background-color: #00335B; 
    color: #ebfdbf; 
}
/*#endregion*/

/*#region : Short text controls */
[dir] .nx-theme-styles .nx-theme-form  ntx-textbox .nx-theme-input-1 { 
    background-color: #00335B; 
    color: #ebfdbf;
}
/*#endregion*/

/*#region : Short text controls */
[dir] .nx-theme-styles .nx-theme-form  ntx-textbox .nx-theme-input-1 { 
    background-color: #00335B; 
    color: #ebfdbf;
}
/*#endregion*/

/*#region : Text control in a Repeating control or other controls*/
[dir] .nx-theme-styles .nx-theme-form ntx-repeating-section ntx-textbox .nx-theme-input-1 { 
    background-color: #00335B; 
    color: #ebfdbf; 
}
/*#endregion*/

/*#region : Text control in a Group control */
[dir] .nx-theme-styles .nx-theme-form ntx-group ntx-textbox .nx-theme-input-1 {
    background-color: #00335B; 
    color: #ebfdbf; 
}
/*#endregion*/

/*#region : Specific "custom-radio-button" */
[dir] .nx-theme-styles .custom-radio-button:nth-of-type(2n) div.nx-radio :has(input[type=radio]:checked) {
    background-color: #00335B;
}

/* First radio button - Red */
[dir] .nx-theme-styles .custom-radio-button:nth-of-type(1) div.nx-radio:has(input[type=radio]:checked) {
    background-color: #FF0000; /* Red */
}

/* Second radio button - Orange */
[dir] .nx-theme-styles .custom-radio-button:nth-of-type(2) div.nx-radio:has(input[type=radio]:checked) {
    background-color: #FFA500; /* Orange */
}

/* Third radio button - Yellow */
[dir] .nx-theme-styles .custom-radio-button:nth-of-type(3) div.nx-radio:has(input[type=radio]:checked) {
    background-color: #FFFF00; /* Yellow */
}

/* Fourth radio button - Green */
[dir] .nx-theme-styles .custom-radio-button:nth-of-type(4) div.nx-radio:has(input[type=radio]:checked) {
    background-color: #008000; /* Green */
}

/* Fifth radio button - Blue */
[dir] .nx-theme-styles .custom-radio-button:nth-of-type(5) div.nx-radio:has(input[type=radio]:checked) {
    background-color: #0000FF; /* Blue */
}


[dir] .nx-theme-styles .custom-radio-button .nx-radio :has(input[type=radio]:checked) .nx-radio-label{
    color:#FFF!important;
}
[dir] .nx-theme-styles .custom-radio-button .nx-radio input[type=radio]+.nx-radio-container .nx-radio-faux{
    display: none;
}
[dir] .nx-theme-styles .custom-radio-button .nx-radio input[type=radio]+.nx-radio-container{
    padding-left:0px;
    justify-content: center;
}
.nx-theme-styles .custom-radio-button div.nx-radio :has( input[type=radio]) {
    background-color: #f5f5f5;
    color: #000;
    padding: 5px 0;
    white-space: nowrap;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 130px;
}
.nx-theme-styles .custom-radio-button div.nx-radio-container{
    align-items: center;
}

.nx-theme-styles .custom-radio-button .nx-radio-group-inline {
    display: block;
}

.nx-theme-styles .custom-radio-button {
    /*display: flex;*/
    display: block;
    justify-content: space-between; 
    align-items: center; 
}

.nx-theme-styles .custom-radio-button ntx-label {
    /*flex: 1 1 100%;*/ 
    display: block;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    align-items: center;
    text-align: center;
}

.nx-theme-styles .custom-radio-button ntx-simple-choice {
    /*flex: 1 1 100%;*/ 
    display: block;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    align-items: center;
    text-align: center;
}

.nx-theme-styles .custom-radio-button ntx-simple-choice .nx-radio input[type=radio]+.nx-radio-container{

     align-items: center; /* Vertically centers children */
}
.nx-theme-styles .custom-radio-button div.nx-radio:nth-child(1) :has(input[type=radio]:hover) +  .ntx-custom-label {
    display: block; /* Show on hover */
}
/*#endregion*/

/*#region : Specific "custom-radio-button-colors" */
[dir] .nx-theme-styles .custom-radio-button-colors::nth-of-type(1n) div.nx-radio:has(input[type=radio]:checked) {
    background-color: #FF0000; 
}
[dir] .nx-theme-styles .custom-radio-button-colors::nth-of-type(2n) div.nx-radio:has(input[type=radio]:checked) {
    background-color: #FFA500; 
}
[dir] .nx-theme-styles .custom-radio-button-colors::nth-of-type(3n) div.nx-radio:has(input[type=radio]:checked) {
    background-color: #FFFF00; 
}
[dir] .nx-theme-styles .custom-radio-button-colors::nth-of-type(4n) div.nx-radio:has(input[type=radio]:checked) {
    background-color: #008000; 
}
[dir] .nx-theme-styles .custom-radio-button-colors::nth-of-type(5n) div.nx-radio:has(input[type=radio]:checked) {
    background-color: #0000FF; 
}

[dir] .nx-theme-styles .custom-radio-button-colors .nx-radio :has(input[type=radio]:checked) .nx-radio-label{
    color:#FFF!important;
}
[dir] .nx-theme-styles .custom-radio-button-colors .nx-radio input[type=radio]+.nx-radio-container .nx-radio-faux{
    display: none;
}
[dir] .nx-theme-styles .custom-radio-button-colors .nx-radio input[type=radio]+.nx-radio-container{
    padding-left:0px;
    justify-content: center;
}
.nx-theme-styles .custom-radio-button-colors div.nx-radio :has( input[type=radio]) {
    background-color: #f5f5f5;
    color: #000;
    padding: 5px 0;
    white-space: nowrap;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 130px;
}
.nx-theme-styles .custom-radio-button-colors div.nx-radio-container{
    align-items: center;
}

.nx-theme-styles .custom-radio-button-colors .nx-radio-group-inline {
    display: block;
}

.nx-theme-styles .custom-radio-button-colors {
    /*display: flex;*/
    display: block;
    justify-content: space-between; 
    align-items: center; 
}

.nx-theme-styles .custom-radio-button-colors ntx-label {
    /*flex: 1 1 100%;*/ 
    display: block;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    align-items: center;
    text-align: center;
}

.nx-theme-styles .custom-radio-button-colors ntx-simple-choice {
    /*flex: 1 1 100%;*/ 
    display: block;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    align-items: center;
    text-align: center;
}

.nx-theme-styles .custom-radio-button-colors ntx-simple-choice .nx-radio input[type=radio]+.nx-radio-container{

     align-items: center; /* Vertically centers children */
}
.nx-theme-styles .custom-radio-button-colors div.nx-radio:nth-child(1) :has(input[type=radio]:hover) +  .ntx-custom-label {
    display: block; /* Show on hover */
}
/*#endregion*/



/*#region : Header and Footer */
.nx-form .nx-form-heading, .nx-form .nx-form-footing{
    border:none;
}
/*#endregion*/

/*#region : Check Radio as Button */
.ntx-custom-radio-button div.nx-radio:nth-child(1) :has(input[type=radio]:checked),
.ntx-custom-radio-button div.nx-radio:nth-child(2) :has(input[type=radio]:checked),
.ntx-custom-radio-button div.nx-radio:nth-child(3) :has(input[type=radio]:checked),
.ntx-custom-radio-button div.nx-radio:nth-child(4) :has(input[type=radio]:checked) {
    background-color: #d33233;
}
[dir] .ntx-custom-radio-button .nx-radio :has(input[type=radio]:checked) .nx-radio-label{
    color:#FFF!important;
}
[dir] .ntx-custom-radio-button .nx-radio input[type=radio]+.nx-radio-container .nx-radio-faux{
    display: none;
}
[dir] .ntx-custom-radio-button .nx-radio input[type=radio]+.nx-radio-container{
    padding-left:0px;
    justify-content: center;
}
.ntx-custom-radio-button div.nx-radio :has( input[type=radio]) {
    background-color: #f5f5f5;
    color: #000;
    padding: 5px 0;
    white-space: nowrap;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 130px;
}

.ntx-custom-radio-button div.nx-radio-container{
    align-items: center;
}

.ntx-custom-radio-button .nx-radio-group-inline {
    display: block;
}

.ntx-custom-radio-button {
    /*display: flex;*/
    display: block;
    justify-content: space-between; 
    align-items: center; 
}

.ntx-custom-radio-button ntx-label {
    /*flex: 1 1 100%;*/ 
    display: block;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    align-items: center;
    text-align: center;
}

.ntx-custom-radio-button ntx-simple-choice {
    /*flex: 1 1 100%;*/ 
    display: block;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    align-items: center;
    text-align: center;
}

.ntx-custom-radio-button ntx-simple-choice .nx-radio input[type=radio]+.nx-radio-container{

     align-items: center; /* Vertically centers children */
}

.ntx-custom-nolabel .nx-zinc-control-label{
    display: none;
}

.ntx-custom-label {
    display: block; /* Hide by default */
    position: absolute;
    float: right;
    right: -100%; 
    top: 0; 
    width: 30%;
}

.ntx-custom-label {
    display: none; 
}

.ntx-custom-radio-button div.nx-radio:nth-child(1) :has(input[type=radio]:hover) +  .ntx-custom-label {
    display: block; /* Show on hover */
}

/*#endregion*/
