/*#region : Background */
div#nx-form-container::before {
    clip-path: polygon(30% 0, 100% 0, 70% 100%, 0 100%);
    content: "";
    position: fixed;
    /* background-image: linear-gradient(to bottom, rgb(55 87 134 / 29%) 100%, transparent 50%) !important; */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient(-90deg, 
    #f44336, 
    #ffeb3b, 
    #2196f3, 
    #4caf50, 
    #9c27b0, 
    #f44336);
    animation: colorCycle 10s linear infinite, moveTube 20s linear infinite;
    opacity: 0.5;
    width: 300px;
}
@keyframes colorCycle {
    0% {
      background-image: linear-gradient(-90deg, 
        #f44336, 
        #ffeb3b, 
        #2196f3, 
        #4caf50, 
        #9c27b0, 
        #f44336);
    }
    100% {
      background-image: linear-gradient(-90deg, 
        #f44336, 
        #ffeb3b, 
        #2196f3, 
        #4caf50, 
        #9c27b0, 
        #f44336);
    }
  }
  
  @keyframes moveTube {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(500%);
    }
  }

div#nx-form-container {
    position: relative;
    background: linear-gradient(to bottom, rgb(55 87 134 / 29%) 100%, transparent 50%) !important;
}

[dir] .nx-theme-styles  .nx-theme-form {
    border-color: #898F94;
    box-shadow: none;
    border: 0px;
    background: none;
}

.ntx-host-content {
    background-image: linear-gradient(to bottom, rgb(255 232 0 / 17%) 100%, transparent 50%), url(https://i.ibb.co/TPLQ5Qj/Picture1.png) !important;
    background-size: cover;
}

.nx-form {
    opacity: 0.8;
    display: contents;
}

[dir] .nx-theme-styles  mat-step-header[aria-selected="true"] {
    background: none;
}
[dir] .nx-theme-styles  .mat-stepper-horizontal {
    background: none;
    border: none;
}
[dir] .nx-theme-styles  .mat-horizontal-content-container {
    border: none;
}
[dir] .nx-theme-styles  .nx-form-heading {
    border: none;
}

div.ntx-custom-menu,div.ntx-custom-create, .nx-panel-body.nx-group-control-body {
    background: none !important;
}
div.ntx-custom-create {
    max-width: 900px;
    padding: 10px;
    margin: auto;
}

/*#endregion*/
/*#region : Check Radio as Button */
div.ntx-custom-menu {
    text-align: center;
}
.ntx-custom-action div.nx-radio:nth-child(1) :has(> input[type=radio]:checked) {
    background-color: #f44336;
}
.ntx-custom-action div.nx-radio:nth-child(2) :has(> input[type=radio]:checked) {
    background-color: #ffeb3b;
}
.ntx-custom-action div.nx-radio:nth-child(3) :has(> input[type=radio]:checked) {
    background-color: #2196f3;
}
.ntx-custom-action div.nx-radio:nth-child(4) :has(> input[type=radio]:checked) {
    background-color: #4caf50;
}
.ntx-custom-action div.nx-radio:nth-child(5) :has(> input[type=radio]:checked) {
    background-color: #9c27b0;
}
[dir] .ntx-custom-action .nx-radio :has(> input[type=radio]:checked) .nx-radio-label{
    color:#FFF;
}
[dir] .ntx-custom-action .nx-radio input[type=radio]+.nx-radio-container .nx-radio-faux{
    display: none;
}
[dir] .ntx-custom-action .nx-radio input[type=radio]+.nx-radio-container{
    padding-left:0px;
    justify-content: center;
}
.ntx-custom-action div.nx-radio :has(> input[type=radio]) {
    background-color: #f5f5f5;
    color: #000;
    padding: 5px 15px;
    white-space: nowrap;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: auto;
    min-width: 300px;
}
/*#endregion*/
