/*#region : Background */
[dir] .nx-theme-styles .nx-theme-page {
    background-image: url("https://i.ibb.co/N11RsB0/bg-Login-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/*#endregion*/
/*region : Header and Footer */
.nx-form .nx-form-heading, .nx-form .nx-form-footing{
    border:none;
}
/*endregion*/

/*#region : Check Radio as Button */
.ntx-custom-radio-button div.nx-radio:nth-child(1) :has(> input[type=radio]:checked) {
    background-color: rgb(19, 133, 95);
}
.ntx-custom-radio-button div.nx-radio:nth-child(2) :has(> input[type=radio]:checked) {
    background-color: rgb(255, 176, 0);
}
.ntx-custom-radio-button div.nx-radio:nth-child(3) :has(> input[type=radio]:checked) {
    background-color: rgb(198, 0, 34);
}
.ntx-custom-radio-button div.nx-radio:nth-child(4) :has(> input[type=radio]:checked) {
    background-color: rgb(112, 112, 112);
}
[dir] .ntx-custom-radio-button .nx-radio :has(> input[type=radio]:checked) .nx-radio-label{
    color:#FFF;
}
[dir] .ntx-custom-radio-button .nx-radio input[type=radio]+.nx-radio-container .nx-radio-faux{
    display: none;
}
[dir] .ntx-custom-radio-button .nx-radio input[type=radio]+.nx-radio-container{
    padding-left:0px;
    justify-content: center;
}
.ntx-custom-radio-button div.nx-radio :has(> input[type=radio]) {
    background-color: #f5f5f5;
    color: #000;
    padding: 5px 15px;
    white-space: nowrap;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 66px;
}
/*#endregion*/

.ntx-custom-notes .nx-checkbox-toggle-container {
    display: flex;
}

.ntx-custom-notes .nx-zinc-control-input {
    padding: 10px 0px;
}

.nx-file-upload-control {
    border: 1px dashed;
    /* padding: 5px; */
}

.ntx-custom-totals div p span {
    margin: 10px;
    border: none;
    border-radius: 16px;
    padding: 5px 10px;
    
}
.ntx-custom-totals div p span:nth-child(1) {
    background-color: rgb(19, 133, 95);
}
.ntx-custom-totals div p span:nth-child(2) {
    background-color: rgb(255, 176, 0);
}
.ntx-custom-totals div p span:nth-child(3) {
    background-color: rgb(198, 0, 34);
}

.ntx-custom-totals {
    position: relative;
    top: 45px;
    z-index: 1;
}
