/*#region : Background Page */
.theme-entry .form {
    padding: 12px;
    background: none;
}

.theme-entry {
    background: linear-gradient(to right, transparent 0%, #ef3341 40%, #ef3341);
    background-size: cover;
    background-attachment: fixed;
    --view-rounding: 12px;
    --panel-rounding: 12px;
    --tab-background-color: #ffffff;
    --tab-text-color: #000000;
}

form {
  opacity:0.95!important;
    position: relative;
    z-index: 2;
}

/*#endregion*/
