/*#region : Background Page */
.theme-entry {
    background-image: url('https://i.ibb.co/xFbQ8jh/bg-Login.jpg');
    background-size: cover;
    background-attachment: fixed;
    --view-rounding: 25px;
    --panel-rounding: 25px;
}
.theme-entry .runtime-form {
  width: 80% !important;
}

.theme-entry.runtime-view {
    background-image: url('https://i.ibb.co/xFbQ8jh/bg-Login.jpg') important!;
    --view-rounding: 12px;
    --panel-rounding: 12px;
}

form {
  opacity:0.85!important;
}
.theme-entry .tab-box.tabs-top .tab-box-body{
  background-color: transparent;  
}
.theme-entry .grid-toolbars,
.theme-entry .SourceCode-Forms-Controls-Web-DataLabel {
  border-radius: 24px;
}

.runtime-content {
  background-image: url(https://i.ibb.co/xFbQ8jh/bg-Login.jpg);
  background-size: cover;
  background-attachment: fixed;
}


/*#endregion*/
