/*#region : Background Page */
.theme-entry {
    background-image: url('https://i.ibb.co/pbsCDj3/Picture2.png');
    background-size: cover;
    background-attachment: fixed;
    --view-rounding: 25px;
    --panel-rounding: 25px;
}
.theme-entry .runtime-form {
  width: 80%;
}

.theme-entry.runtime-view {
    background-image: url('https://i.ibb.co/pbsCDj3/Picture2.png') important!;
    --view-rounding: 12px;
    --panel-rounding: 12px;
}

form {
  opacity:0.85!important;
}


/*#endregion*/
