
/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*#region Navigation */ 
span[name^="TAB"] svg:has(circle) {
    display: none; 
}
span[name^="TAB"]:hover svg, 
span[name^="TAB"]:has(label.checked) svg {
    fill: #FFFFFF;
}
span[name^="TAB"] svg {
  fill: #5e053d;
  padding-left: 5px;
  vertical-align: middle;
}
span[name^="TAB"]:hover,
span[name^="TAB"]:has(label.checked){
  background-color: #5e053d;
  color: #FFFFFF;
  font-weight: bold;
}
span[name^="TAB"] label.checked > span {
    font-weight: bold;
}

/*span[name^="TAB"]:not(:hover) label.checked > span {
    color: #5e053d;
}
span[name^="TAB"] label.checked > span {
    font-weight: bold;
}*/
/*#endregion*/
/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*#region : Background Page */
html:not([is-in-iframe]) {
  background-image: url('https://ciliace.github.io/cdnntx/images/purple-pattern.webp');
  background-size: cover;
  background-attachment: fixed;
} 
.theme-entry {
  background: none !important;
}
form {
  opacity:0.95!important;
}
.theme-entry .form {
  background: transparent;
}
.theme-entry .tab-box.tabs-top .tab-box-body{
  background-color: transparent;  
}
/*#endregion : Background Page */
/*-------------------------------------------------------------------------------------------------------------------------------------*/
