/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*#region : Background Page */
html:not([is-in-iframe]) {
  background-image: url('https://ciliace.github.io/cdnntx/images/purple-pattern.webp');
  background-size: cover;
  background-attachment: fixed;
} 
.theme-entry {
  background: none !important;
}
form {
  opacity: 0.85!important;
}
.theme-entry .form {
  background: transparent;
  padding: 12px 10% !important;
}
.theme-entry .tab-box.tabs-top .tab-box-body{
  background-color: transparent;  
}

.theme-entry .view .panel-header-wrapper, .theme-entry .view-canvas .panel-header-wrapper, .theme-entry .view .grid-header-wrapper, .theme-entry .view-canvas .grid-header-wrapper {
    border-radius: var(--view-rounding) var(--view-rounding) 0 0;
    background-color: #793991;
}
.theme-entry .view .grid-header, .theme-entry .view-canvas .grid-header, .theme-entry .view .panel-header, .theme-entry .view-canvas .panel-header {
    background: var(--view-header-background-color);
    border-radius: var(--view-rounding) var(--view-rounding) 0 0;
    color: white;
}
/*#endregion : Background Page */
/*-------------------------------------------------------------------------------------------------------------------------------------*/
