.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #8b1b59; /* Circle color */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin: 0 auto; /* Center alignment */
}

.line {
  height: 2px;
  background-color: #8b1b59; /* Line color */
  width: 100%;
}
span:has(.line){
  max-width: 100%;
  width: 100%;
  padding: 0!important;
}
.circle:hover {
  background-color: #8b1b59; /* Circle color */
  cursor: pointer; /* Show pointer cursor */
}

.active {
  background-color: #8b1b59; /* Green for active */
}

.completed {
  background-color: #6c757d; /* Grey for completed */
}

.future {
  background-color: #d3d3d3; /* Light grey for future */
}
