.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #8b1b59; /* Circle color */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin: 0 auto; /* Center alignment */
}

.line {
  width: 100%;
  height: 2px;
  background-color: #d3d3d3;
}

.line.active {
  background-color: #8b1b59; /* Active color for lines */
}

.line.future {
  background-color: #d3d3d3; /* Future color for lines */
}

span:has(.line){
  max-width: 100%;
  width: 100%;
  padding: 0!important;
}

.circle.future:hover {
  background-color: #8b1b59; /* Circle color */
  cursor: pointer; /* Show pointer cursor */
}

.circle.active {
  background-color: #8b1b59; /* Active color */
}

.circle.future {
  background-color: #d3d3d3; /* Future color */
}
